
<div class="container">
    <div class="jumbotron content ">
        <center>    <h1>Ny statistikk</h1>
            <p>Her finner du ny statistikk fresh out the box!</p>
        </center>
    </div>
</div>

<div class="container contentmid">

    <div class="row">
        <div class="col-md-3">
            <a href="#">Ny artikkel</a>
            <p>Kort beskrivelse av denne nye artikkelen som inneholder statistikk, statistikken kan handle om mye rart. Den kan handle om for eksempel katter, mennesker andre dyr. I hvert fall vil den handle om brukerstatistikk til bedriften Evry og muligens deres kunder</p>
            <a href="#" class="btn btn-success">Les mer!</a>
        </div>

        <div class="col-md-3">
            <a href="#">Ny artikkel</a>
            <p>Kort beskrivelse av denne nye artikkelen som inneholder statistikk, statistikken kan handle om mye rart. Den kan handle om for eksempel katter, mennesker andre dyr. I hvert fall vil den handle om brukerstatistikk til bedriften Evry og muligens deres kunder</p>
            <a href="#" class="btn btn-success">Les mer!</a>
        </div>

        <div class="col-md-3">
            <a href="#">Ny artikkel</a>
            <p>Kort beskrivelse av denne nye artikkelen som inneholder statistikk, statistikken kan handle om mye rart. Den kan handle om for eksempel katter, mennesker andre dyr. I hvert fall vil den handle om brukerstatistikk til bedriften Evry og muligens deres kunder</p>
            <a href="#" class="btn btn-success">Les mer!</a>
        </div>

        <div class="col-md-3">
            <a href="#">Ny artikkel</a>
            <p>Kort beskrivelse av denne nye artikkelen som inneholder statistikk, statistikken kan handle om mye rart. Den kan handle om for eksempel katter, mennesker andre dyr. I hvert fall vil den handle om brukerstatistikk til bedriften Evry og muligens deres kunder</p>
            <a href="#" class="btn btn-success">Les mer!</a>
        </div>

        <div class="col-md-3">
            <a href="#">Ny artikkel</a>
            <p>Kort beskrivelse av denne nye artikkelen som inneholder statistikk, statistikken kan handle om mye rart. Den kan handle om for eksempel katter, mennesker andre dyr. I hvert fall vil den handle om brukerstatistikk til bedriften Evry og muligens deres kunder</p>
            <a href="#" class="btn btn-success">Les mer!</a>
        </div>
        <div class="col-md-3">
            <a href="#">Ny artikkel</a>
            <p>Kort beskrivelse av denne nye artikkelen som inneholder statistikk, statistikken kan handle om mye rart. Den kan handle om for eksempel katter, mennesker andre dyr. I hvert fall vil den handle om brukerstatistikk til bedriften Evry og muligens deres kunder</p>
            <a href="#" class="btn btn-success">Les mer!</a>
        </div>
        <div class="col-md-3">
            <a href="#">Ny artikkel</a>
            <p>Kort beskrivelse av denne nye artikkelen som inneholder statistikk, statistikken kan handle om mye rart. Den kan handle om for eksempel katter, mennesker andre dyr. I hvert fall vil den handle om brukerstatistikk til bedriften Evry og muligens deres kunder</p>
            <a href="#" class="btn btn-success">Les mer!</a>
        </div>
        <div class="col-md-3">
            <a href="#">Ny artikkel</a>
            <p>Kort beskrivelse av denne nye artikkelen som inneholder statistikk, statistikken kan handle om mye rart. Den kan handle om for eksempel katter, mennesker andre dyr. I hvert fall vil den handle om brukerstatistikk til bedriften Evry og muligens deres kunder</p>
            <a href="#" class="btn btn-success">Les mer!</a>
        </div>
        <div class="col-md-3">
            <a href="#">Ny artikkel</a>
            <p>Kort beskrivelse av denne nye artikkelen som inneholder statistikk, statistikken kan handle om mye rart. Den kan handle om for eksempel katter, mennesker andre dyr. I hvert fall vil den handle om brukerstatistikk til bedriften Evry og muligens deres kunder</p>
            <a href="#" class="btn btn-success">Les mer!</a>
        </div>
    </div>
</div>