<div id="wrapper">
    <div id="page-wrapper">
        <div class="col-lg-12">
            <div class="row">
                <h1>User exit <small>The page users leave</small></h1>
                <br/>
                <table class="table">
                    <th>
                        Page
                    </th>
                    <th>
                        Number of users leaving
                    </th>
                    <tr data-ng-repeat="temp in bounces">
                        <td data-ng-repeat="i in temp">{{i}}</td>
                    </tr>
                </table>
            </div><!-- /.row -->
        </div>
    </div><!-- /#page-wrapper -->
</div><!-- /#wrapper -->